Repository seerapubhavyareddy/tambourine-voice: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pytest, biome, typescript, cargo-fmt, cargo-clippy, vitest, cargo-test

ty-check:
  name: ty type check
  entry: uv run --directory server ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory server pytest
  language: system
  pass_filenames: false

biome:
  name: biome check
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

typescript:
  name: typescript check
  entry: pnpm --dir app run typecheck
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path app/src-tauri/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features --manifest-path app/src-tauri/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm --dir app test
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --quiet --manifest-path app/src-tauri/Cargo.toml
  language: system
  pass_filenames: false

add rate limit to healthcheck
  server/main.py
  server/utils/rate_limiter.py
Due: ty-check, pytest

update docs
  CONTRIBUTING.md
Due: none

update dependencies and clean up lint issues
  app/package.json
  app/pnpm-lock.yaml
  app/src-tauri/src/audio_mute/macos.rs
  app/src-tauri/src/lib.rs
  app/src/OverlayApp.tsx
  server/main.py
  server/pyproject.toml
  server/uv.lock
Due: ty-check, pytest, biome, typescript, cargo-fmt, cargo-clippy, vitest, cargo-test

Refactor: extract ky timeout and retry values into named constants (#133)
  app/src/lib/tauri.ts
Due: biome, typescript, vitest

docs: Improve provider table formatting and readability in README (#138)
  README.md
Due: none

Refactor error handling (#139)
  CONTRIBUTING.md
  app/package.json
  app/pnpm-lock.yaml
  app/src-tauri/Cargo.toml
  app/src-tauri/src/commands/export_import.rs
  app/src-tauri/src/commands/history.rs
  app/src-tauri/src/commands/settings.rs
  app/src-tauri/src/config_sync.rs
  app/src-tauri/src/history.rs
  app/src/components/HotkeyInput.tsx
  app/src/lib/tauri.ts
  server/pyproject.toml
  server/uv.lock
Due: biome, typescript, cargo-fmt, cargo-clippy, vitest, cargo-test

refactor: reuse ConnectionState from tauri (#141)
  app/src/stores/recordingStore.ts
Due: biome, typescript, vitest

Extract notification autoClose timeout to named constant (#142)
  app/src/components/settings/DataManagementSettings.tsx
Due: biome, typescript, vitest

Add CI Action to build installer and docker images for the server (#144)
  .github/workflows/ci.yml
  README.md
  server/.env.example
  server/Dockerfile
  server/config/settings.py
  server/docker-compose.yml
  server/main.py
  server/pyproject.toml
  server/services/provider_registry.py
  server/uv.lock
Due: ty-check, pytest

refactor: extract connection delay constants for easier tuning
  app/src/machines/connectionMachine.ts
Due: biome, typescript, vitest

disable docker-build for PRs
  .github/workflows/ci.yml
Due: none

add error handling for pause stop resume (#147)
  app/src/lib/nativeAudio.ts
Due: biome, typescript, vitest

align Whisper config and provider mapping
  app/src/components/settings/DataManagementSettings.tsx
  server/.env.example
  server/config/settings.py
  server/processors/context_manager.py
  server/services/provider_registry.py
Due: ty-check, pytest, biome, typescript, vitest

add type example to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix local Whisper dictation race and stabilize stop/transcription flow
  app/src/OverlayApp.tsx
  server/processors/turn_controller.py
  server/services/provider_registry.py
Due: ty-check, pytest, biome, typescript, vitest

Improve local Whisper/Ollama reliability by preserving raw transcription when formatting times out or returns empty text.
  app/src/OverlayApp.tsx
  server/.env.example
  server/config/settings.py
  server/processors/llm_gate.py
  server/services/provider_registry.py
  server/services/providers.py
  server/utils/observers.py
Due: ty-check, pytest, biome, typescript, vitest

Fix Ruff import formatting in server modules.
  server/processors/llm_gate.py
  server/utils/observers.py
Due: ty-check, pytest

Apply Ruff formatting for server settings/providers
  server/config/settings.py
  server/services/providers.py
Due: ty-check, pytest

Scope issue-146 to Whisper env configuration changes only.
  app/src/OverlayApp.tsx
  server/processors/llm_gate.py
  server/processors/turn_controller.py
  server/services/providers.py
  server/utils/observers.py
Due: ty-check, pytest, biome, typescript, vitest

Removed default_kwargs as it is overriding .env files
  server/services/provider_registry.py
Due: ty-check, pytest

Fix local Whisper dictation race and stabilize stop/transcription flow (#150)
  app/src/OverlayApp.tsx
  server/.env.example
  server/config/settings.py
  server/processors/turn_controller.py
  server/services/provider_registry.py
  server/services/providers.py
Due: ty-check, pytest, biome, typescript, vitest

fix ci
  .github/workflows/ci.yml
Due: none

chore: fix rust-analayzer settings and update py dep
  .vscode/settings.json
  server/pyproject.toml
  server/uv.lock
Due: none

Add "no words detected" into overlay (#154)
  app/src/OverlayApp.tsx
  server/processors/llm_gate.py
  server/processors/turn_controller.py
  server/protocol/__init__.py
  server/protocol/messages.py
Due: ty-check, pytest, biome, typescript, vitest

fix: fallback to raw transcription when formatting times out
  app/src-tauri/src/commands/export_import.rs
  app/src-tauri/src/commands/settings.rs
  app/src-tauri/src/lib.rs
  app/src-tauri/src/settings.rs
  app/src/OverlayApp.tsx
  app/src/components/settings/PromptSettings.tsx
  app/src/lib/queries.ts
  app/src/lib/tauri.ts
Due: biome, typescript, cargo-fmt, cargo-clippy, vitest, cargo-test

additional dependency is removed.
  app/src/OverlayApp.tsx
Due: biome, typescript, vitest

Revise architecture diagram documentation for clarity (#162)
  docs/architecture-diagram.md
Due: none

fix(tauri): enforce single-instance startup to prevent duplicate launches
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tauri): enforce single-instance startup to prevent duplicate launches (#163)
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: fallback on server errors and empty LLM output
  app/src/OverlayApp.tsx
Due: biome, typescript, vitest

fix(providers): auto-fallback unavailable provider selections and prevent stuck settings state
  app/src/components/settings/ProvidersSettings.tsx
  app/src/machines/connectionMachine.ts
Due: biome, typescript, vitest

Path conditions:
  ty-check: any of: ^server/ and \.py$
  pytest: any of: ^server/ and \.py$
  biome: any of: ^app/ and \.(ts|mts|cts)$, \.tsx$, \.json$
  typescript: any of: ^app/ and \.(ts|mts|cts)$, \.tsx$
  cargo-fmt: any of: ^app/src-tauri/ and \.rs$
  cargo-clippy: any of: ^app/src-tauri/ and \.rs$
  vitest: any of: ^app/ and \.(ts|mts|cts)$, \.tsx$
  cargo-test: any of: ^app/src-tauri/ and \.rs$
